<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>941630222457-nhg3jgckv484bvfp9cjurgthre3e6lu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.941630222457-nhg3jgckv484bvfp9cjurgthre3e6lu9</string>
	<key>API_KEY</key>
	<string>AIzaSyBzFiotNPfahlGfJ3lkwfj_2SmZ3vOEUgQ</string>
	<key>GCM_SENDER_ID</key>
	<string>941630222457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.facebookAplicationPhishing</string>
	<key>PROJECT_ID</key>
	<string>facebook-aplication-phising</string>
	<key>STORAGE_BUCKET</key>
	<string>facebook-aplication-phising.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:941630222457:ios:e164f4bc7a5f7f88efa4a8</string>
</dict>
</plist>